<a href="https://colab.research.google.com/github/charliedondapati/EEG_dataset/blob/master/calculations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 3x2 - 4x +1 = 0

b = -4
a = 3
c = 1

d = b**2 - 4*a*c

print(f'Delta: {d}')

Delta: 4

In [ ]:
# an = 10 + 4n -4n +4n
#
#an = 10 + 4 * n

a1 = 14
a10 = 50
n = 10

s10 = ( a1 + a10) * n/2

print(f'The sum of the first 10 elements in a sequence: {s10}')

The sum of the first 10 elements in a sequence: 320.0

In [ ]:
# an = 8 * 2^n -1

a1 = 8
a2 = 16

r = a2/a1
n = 6

s6 = a1 * ( 1 - r ** n)/(1 - r)

print(f'The sum of the first 6 elements of the sequence is: {s6}')

The sum of the first 6 elements of the sequence is: 504.0

In [5]:
# A = (2,4) , B = (-4, 6)

a1 = 2
a2 = -4
b1 = 4
b2 = 6

a3 = (a1+a2)/2
b3 = (b1+b2)/2

md = (a3,b3)

print(f'The middle point: {md}')

The middle point: (-1.0, 5.0)

-1.0

In [23]:
# A = (3,2) , B = ( -1, -1)

a1 = 3
a2 = 2

b1 = -1
b2 = -1

a3 = (b1 - a1) ** 2
b3 = (b2 - a2) ** 2

d = (((b1 - a1) ** 2) + ((b2 - a2) ** 2)) ** (1/2)

print(f'The distance between points A and B: {d}')

The distance between points A and B: 5.0

In [26]:
# x2+5x+4 =0

a = 1
b = 5
c = 4

d = b**2 - 4 * a * c

x1 = (-b - d**(1/2)) / (2*a)
x2 = (-b + d**(1/2)) / (2*a)

print(f'x1 = {x1}')
print(f'x2 = {x2}')

x1 = -4.0
x2 = -1.0

In [29]:
# geometric series = 4,3, 4.5, 5

n = 4
g1 = 4
g2 = 3
g3 = 4.5
g4 = 5

gm = (g1 * g2 * g3 * g4) ** (1/4)

print(f'Geometric average of the given numbers: {gm:.2f}')

Geometric average of the given numbers: 4.05

In [40]:
string = 'PKV-89415-PLN'

s = string.split('-')
print(s[0]+s[2])

c = string[:3]+string[-3:]
print(c)

PKVPLN
PKVPLN

In [44]:
string = '1 0 0 1 0 1'

binary = string[::2]
decimal_num = int(binary,2)

print(f'Number found: {decimal_num}')

Number found: 37

In [45]:
text = '100 days of code'

print(text[::-1])

edoc fo syad 001